@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
}

.container {
  max-width: 1800px;
  padding: 60px;
  margin: 0 auto;
  border: 1px solid #000;
  min-height: inherit;
}
.swiper {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  height: inherit;
}

.swiper-slide {
  width: 100%;
}

.airlines__block {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 3px 23px 5px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 3px 12px 5px rgba(0, 0, 0, 0.24);
}

.swiper-wrapper {
}
