@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  min-height: 100%;
}

.container {
  max-width: 1800px;
  padding: 60px 0 0 0;
  margin: 0 auto;
  min-height: inherit;
}

.swiper {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  height: inherit;
}

.swiper-slide {
  width: 100%;
}

.airlines__block {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 3px 23px 5px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 3px 12px 5px rgba(0, 0, 0, 0.24);
}

/* @media (max-width: 640px) {
  .airlines__block {
    padding: 4px;
  }
} */

.swiper-wrapper {
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  padding: 15px;
  background: #5473e8;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  background: #5473e8;
}

.content__slide {
  padding: 0px 65px 20px 65px;
}

@media (max-width: 640px) {
  .content__slide {
    padding: 0px 15px 20px 15px;
  }
  .menu {
    position: relative;
    height: 85px;
    max-width: 100%;
    padding-top: 0;
  }

  .router-link-active {
  }
}

@media (max-width: 440px) {
  .airlines__block {
    padding: 20px;
  }
}

.airlines-info__wrapper {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.airlines-info__column {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  gap: 45px;
  align-self: stretch;
}

.airlines__block {
  height: 100%;
}
